@mixin all {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@mixin flex-container($fd, $ai, $jc, $fw) {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: $fd;
    align-items: $ai;
    justify-content: $jc;
    flex-wrap: $fw;
}

@mixin box-shadow($px, $px2, $px3, $px4, $color) {
    -webkit-box-shadow: $px $px2 $px3 $px4 $color;
    -moz-box-shadow: $px $px2 $px3 $px4 $color;
    box-shadow: $px $px2 $px3 $px4 $color;
}

@mixin scrollbar($display:true, $width:8px, $moz-width:thin, $height:8px, $color:transparent, $bgcolor:transparent) {

    @if $display {
        scrollbar-width: none;
        scrollbar-color: transparent transparent;

        &::-webkit-scrollbar {
            display: none;
        }
    }

        scrollbar-width: $moz-width;
        scrollbar-color: $bgcolor $color;


        &::-webkit-scrollbar {
            width: $width !important;
            height: $height !important;
        }

        &::-webkit-scrollbar-track {
            background-color: $color;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $bgcolor;
        }

}


@mixin text-align($align: left) {
    text-align: $align;
    -webkit-text-align: $align;
    -moz-text-align: $align;
    -ms-text-align: $align;
}


@mixin border-radius($radius: 0) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
}


@mixin transition($transition: all .3s ease-in-out) {
    transition: $transition;
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
}


@mixin border($border: 1px, $color:black) {
    border: $border solid $color;
    -webkit-border: $border;
    -moz-border: $border;
    -ms-border: $border;
}

@mixin placeholder {
    &::-webkit-input-placeholder {@content};
    &:-moz-placeholder           {@content};
    &::-moz-placeholder          {@content};
    &:-ms-input-placeholder      {@content}; 
}

@mixin selection($color, $background) {
    &::selection {
        color: $color;
        background: $background;
    }
    &::-moz-selection {
        color: $color;
        background: $background;
    }
    &::-webkit-selection {
        color: $color;
        background: $background;
    }
}
